# Python cache
__pycache__/
*.py[cod]
*$py.class

# macOS / Jupyter / editors
.DS_Store
.ipynb_checkpoints/
.idea/
.vscode/

# Environment files
.env

# Virtual environments
uav/
.venv/
venv/
env/

# Conda
conda-meta/

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary data
data/temp/

# Training artifacts
results/checkpoints/
results/logs/
results/